body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: lowercase;
    font-weight: lighter;
    padding: 0px;
    line-height: 0.5em;
    margin: auto;
}
h1{
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-top: 100px;
}
h2{
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
}
hr{
    border: 2px solid white;
    width: 50%;
}
p{
    text-align: left;
    font-size: 12px;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 1.2em;
}
a{
    color: white;
    text-decoration: none;
}
#a{
    color: black;
    line-height: 5em;
    background-color: white;
    text-decoration: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 2px;
}
img{
    width: 25vw;
    height: 25vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
#obras{
    margin: auto;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
